*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    letter-spacing: 1px;
}

* {
	box-sizing: border-box;
}

.topbar{
    position: fixed;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0 , 0, 0.08);
    width: 100%;
    padding: 0 20px;
    display: grid;grid-template-columns: 2fr 10fr 0.4fr 1fr;
    align-items: center;
    z-index: 1;
}

.user{
    position: relative;
    width: 50px;
    height: 50px;
}

.logo h2{
    color: #299B63;
}

.search{
    position: relative;
    width: 60%;
    justify-self: center;
}

.search input{
    width: 100%;
    height: 40px;
    padding: 0 40px;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 10px;
    background: #f5f5f5;
}

.search i{
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;

}

.user img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/* sidebar */
.sidebar{
    position: fixed;
    top: 60px;
    width: 260px;
    height: calc(100% - 60px);
    background: #299B63;
    overflow-x: hidden;
}

.sidebar ul{
    margin-top: 20px;
}

.sidebar ul li{
    width: 100%;
    list-style: none;
}

.sidebar ul li:hover{
    background: #fff;
}

.sidebar ul li:hover a{
    color: #299B63;
}

.sidebar ul li a{
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 60px;
    display: flex;
    align-items: center;
}
.sidebar ul li a i{
    min-width: 60px;
    font-size: 24px;
    text-align: center;
}

.main{
    position: absolute;
    top: 60px;
    width: calc(100% - 260px);
    left: 260px;
    min-height: calc(100vh - 60px);
    background: #f5f5f5;
}

.main{
    position: absolute;
    top: 60px;
    width: calc(100% - 260px);
    left: 260px;
    min-height: calc(100vh - 60px);
    background: #f5f5f5;
}

.contain {
    top: 10px;
    left: 25%;
    background: rgba(255, 255, 255, 0.33);
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 600px;
	max-width: 100%;
	min-height: 300px;
    padding: 20px 30px;
   
}

.inner-box{
    position: relative;
    left: 0;
    width: 100%;
}




button {
    position: relative;
    left: 180px;
	border-radius: 20px;
	border: 2px solid #299B63;
	background-color: #299B63;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	cursor: pointer;
	margin: 20px 0;
    top: 100px;
    width: 200px;
}

button:hover{
    transform: scale(1.01);
    background-color: #39ac75;
    
}


#date{
    transition: transform 80ms ease-in;
    letter-spacing: 2px;
    position: relative;
    left: 200px;
    height: 30px;
    width: 150px;
    text-align: center;
    outline: none;
    font-size: 17px;
    top: 65px;
    margin-top: 10px;
    border-radius: 10px;
}

#date:hover{
    transform: scale(1.03);
    
}

#inputLabel{
    position: absolute;
    left: 200px;
    top: 35px;
    font-size: 20px;

}

 /* The alert message box */
 .alert {
    padding: 20px;
    background-color: #2fb728c8;
    color: white;
    margin-bottom: 15px;
    display: none;
  }

.closebtn {
margin-left: 15px;
color: white;
font-weight: bold;
float: right;
font-size: 22px;
line-height: 20px;
cursor: pointer;
transition: 0.3s;
}